* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	cursor: default;
}

#plot {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#error {
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffcccc;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	border: none;
}